@import url('https://fonts.googleapis.com/css2?family=Acme&family=Galada&display=swap');

.Header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* background-color: gray; */
  padding: 16px;
  font-family: 'Acme';

  & > .left-header {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
  }

  & > .right-header {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
